# Data Types and Structures Questions

## Q.1) What are data structures, and why are they important?

### Ans:- Data structures are the efficient storage, and manipulation of data. They are provide the large amounts of data systematically and facilitate various operations are searching,sorting and storing.

## Q.2) Explain the difference between mutable and immutable data types with examples.

### Ans :- Mutable data - There are changed after their creat.(Exam - list and dictionaries in python) Immutable - They are can not be changed after creat.(Exam - Strings,tuples in python)

In [2]:
#lists
my_list = [10, 20, 30]
print(my_list)

[10, 20, 30]

In [3]:
my_list[1] = 15
print(my_list)

[10, 15, 30]

In [4]:
## immutable # strings
my_string = "laltu"
print (my_string)

laltu

In [5]:
my_string[0] = "L"

TypeError: 'str' object does not support item assignment

## Q.3) What are the main differences between lists and tuples in python?

### Ans :- The main differences is mutability, definition and performance

## Q.4) Describe how dictionaries store data.

### Ans :- Dictionaries store data in key value pair and you can use it to access the respond correst value quickly.

## Q.5) Why might you use a set instead of a list in python?

### Ans :- Sets are used instead of lists are all elements are unique and when order does not matter.

## Q.6) What is a string in python, and how is it different from a list?

### Ans :- A string is a sequence of characters used for text data in python. String are immutable.String is created the characters cannot be changed.List are various types and can be modified.

## Q.7) How do tuples ensure data integrity in python?

### Ans :- Tuples ensure data integrity are immutable.This means tuple its contents cannot be changed, preventing accidental modifications.

## Q.8) What is a hash table,and how does it relate to dictionaries in python?

### Ans :- Hash table is a data structure that implements an associative array a structure that can map keys to values.Python dictionaries use a hash table internally which allows for efficien data retrieval.

## Q.9) Can lists contain different data types in python?

### Ans :- Yes, lists in python different data types within a single list. A list can contain strings, integers, and other lists.

## Q.10) Explain why strings are immutable in python?

### Ans :- Strings are immutable in python. Immutablility ensures that strings can be safely shared and with out the risk of unintended changes.

## Q.11) What advantages do dictionaries offer over lists for certain tasks?

### Ans :- Dictionaries provide a fast method for data retrieval using unique keys making them idel for lookup and associations. If you need to find a specific value basrd on a key dictionary will usually be faster and more effcient than a list.

## Q.12) Describe a scenario where using a tuple would be preferable over a list.

## Q.13) How do sets handle duplicate values in python?

### Ans :- Sets automatically eliminate duplicate values. When added elements to a set any duplicate are ignored that element are unique.

## Q.14) How does the "in" keyword work differently for lists and dictionaries?

### Ans :- Lists - When used a list in checks a value or among the elements of the list. Dictionaries - Dictionaries in check a key not values.

In [1]:
my_list = ["apple", "orange", "banana"]

In [2]:
print("apple" in my_list)

True

In [3]:
## dictionaries
my_list = {"name":"laltu", "city":"bankura", "pin":722154}

In [4]:
print("name" in my_list)

True

In [5]:
print ("bankura" in my_list)

False

## Q.15) Can you modify the elements of a tuple?Explain why or why not.

## Ans :- You can not modify the elements because they are immutable.

## Q.16) What is a nested dictionary,and give an example of its use case?

### Ans :- Nested dictionary is a contains another dictionary as a value.

## Q.17) Describe the time complexity of accessing elements in a dictionary.

### Ans :- Accessing elements in a dictionary typically has a time complexity of due to the hash table implementation making it very efficient compared to lists.

## Q.18) In what situations are lists preferred over dictionaries?

### Ans :- Lists are preferred when you need to maintain order among elements perform slicing,or require operations like sorting.They are also simpler for cases where you only need to store items without key associations.

## Q.19) Why are dictionaries considered unordered,and how does that affect data retrieval?

### Ans :- Dictionaries are considered unordered because the keys do not maintain a specific sequence that data retrieval is based on keys than order.This does not generally affect retrieval time.

## Q.20) Explain the difference between a list and a dictionary in terms of data retrieval.

### Ans :- List - List access by index and this is ordered collection of elements. Dictionary - Dictionary access by key and this is unordered collection of key value pairs.

# Practical

## Q.1) Write a code to create a string with your name and print

In [6]:
name ="laltu"

In [7]:
print(name)

laltu

### Q.2) Write a code to find the length of the string "Hello World".

In [1]:
str = ("Hello World")

In [2]:
len("Hello World")

11

### Q.3) Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
str = "python programming"

In [4]:
str[:3]

'pyt'

### Q.4) Write a code to convert the string "hello" to uppercase.

In [5]:
str = "hello"

In [6]:
str.upper()

'HELLO'

### Q.5) Write a code to replace the word "apple" with "orange" in the string "i like apple".

In [7]:
text = "i like apple"

In [8]:
print(text)

i like apple

In [9]:
text.replace("apple","orange")

'i like orange'

### Q.6) Write a code to create a list with numbers 1 to 5 and print it>

In [10]:
my_list = [1,2,3,4,5]

In [11]:
print(my_list)

[1, 2, 3, 4, 5]

### Q.7) Write a code to append the number 10 to the list[1,2,3,4]

In [12]:
my_list1 = [1,2,3,4]

In [13]:
my_list1.append(10)

In [14]:
print(my_list1)

[1, 2, 3, 4, 10]

### Q.8) Write a code to remove the number 3 from the list[1,2,3,4,5]

In [15]:
my_list2 = [1,2,3,4,5]

In [16]:
my_list2.remove(3)

In [17]:
print(my_list2)

[1, 2, 4, 5]

### Q.9) Write a code to access the second element in the list ['a','b','c','d']

In [18]:
my_text = ['a','b','c','d']

In [19]:
print(my_text)

['a', 'b', 'c', 'd']

In [20]:
my_text[1]

'b'

In [21]:
print(my_text[1])

b

### Q.10) Write a code to reverse the list [10,20,30,40,50]

In [22]:
my_list3 = [10,20,30,40,50]

In [23]:
my_list3.reverse()

In [24]:
print(my_list3)

[50, 40, 30, 20, 10]

### Q.11) Write a code to create a tuple with the elements 100,200,300 and print it.

In [25]:
tuple = (100,200,300)

In [26]:
print(tuple)

(100, 200, 300)

### Q.12) Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [27]:
my_tuple = ("red","green","blue","yellow")

In [28]:
my_tuple[-2]

'blue'

### Q.13) Write a code to find the minimum number in the tuple (10,20,5,15)

In [29]:
my_tuple1 = (10,20,5,15)

In [30]:
min(my_tuple1)

5

### Q.14) Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')

In [31]:
my_tuple2 = ('dog','cat','rabbit')

In [32]:
my_tuple2.index('cat')

1

### Q.15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [34]:
my_tuple3 = ("apple", "orange", "banana")

In [35]:
"kiwi"in my_tuple3

False

### Q.16) Write a code to create a set with the elements 'a','b','c' and print it.

In [37]:
my_set = {'a','b','c'}

In [38]:
type(my_set)

set

In [39]:
print(my_set)

{'b', 'a', 'c'}

### Q.17) Write a code to clear all elements from the set {1,2,3,4,5}

In [40]:
my_set1 = {1,2,3,4,5}

In [41]:
my_set1.clear()

In [42]:
print(my_set1)

set()

### Q.18) Write a code to remove the element 4 from the set {1,2,3,4}

In [43]:
my_set2 = {1,2,3,4}

In [44]:
my_set2.remove(4)

In [45]:
print(my_set2)

{1, 2, 3}

### Q.19) Write a code to find the union of two sets {1,2,3} and {3,4,5}

In [46]:
my_set3 = {1,2,3}
my_set4 = {3,4,5}

In [47]:
my_set3.union(my_set4)

{1, 2, 3, 4, 5}

### Q.20) Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [48]:
my_set5 = {1,2,3}
my_set6 = {2,3,4}

In [49]:
my_set5.intersection(my_set6)

{2, 3}

### Q.21) Write a code to create a dictionary with the keys "name","age",and"city", and print it.

In [50]:
dict = {"name":"laltu","age":28,"city":"bankura"}

In [51]:
print(dict)

{'name': 'laltu', 'age': 28, 'city': 'bankura'}

### Q.22) Write a code to add a new key-value pair"country":"USA" to the dictionary {'name':'John','age':25}

In [52]:
my_dict = {"name":"John","age":25}

In [53]:
my_dict["country"]="USA"

In [54]:
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q.23) Write a code to access the value associated with the key"name"in the dictionary{'name':'Alice','age':30}

In [55]:
my_dict1 = {"name":"Alice","age":30}

In [56]:
my_dict1["name"]

'Alice'

### Q.24) Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}

In [57]:
my_dict2 = {"name":"Bob","age":22,"city":"New York"}

In [58]:
my_dict2.pop("age")

22

In [59]:
print(my_dict2)

{'name': 'Bob', 'city': 'New York'}

### Q.25) Write a code to check if the key"city"exists in the dictionary {'name':'Alice','ciy':'Paris'}

In [60]:
my_dict3 = {"name":"Alice","city":"Paris"}

In [61]:
"city"in my_dict3

True

### Q.26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [62]:
my_list = [1,2,3]
my_tuple = ("apple","banana","orange")
my_dict = {"name":"Laltu","age":28,"city":"Bankura"}

In [63]:
print(my_list, my_tuple, my_dict)

[1, 2, 3] ('apple', 'banana', 'orange') {'name': 'Laltu', 'age': 28, 'city': 'Bankura'}

### Q.27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,and print the result.(replaced)

In [64]:
numbers = [1, 80, 45, 100, 65]

In [65]:
type(numbers)

list

In [66]:
numbers.sort()

In [67]:
print(numbers)

[1, 45, 65, 80, 100]

### Q.28) Write a code to create a list with strings and print the element at the third index.

In [68]:
string = ["apple","banana","orange","watermelon"]

In [69]:
string[3]

'watermelon'

### Q.29) Write a code to combine two dictionaries into one and print the result.

In [70]:
dict1 = {"name":"Laltu"}
dict2 = {"age":28}

### Q.30) Write a code to convert a list of strings a set.

In [73]:
my_list = ["apple", "banana", "orange", "banana"]

In [74]:
type(my_list)

list

In [75]:
my_string = set(my_list)

In [76]:
print(my_string)

{'banana', 'orange', 'apple'}

In [77]:
type(my_string)

set

In [ ]:
--------------------------------------------------------------------------------------------------